<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="sqlcuba" transaction-type="RESOURCE_LOCAL">

        <class>ch.so.agi.sqlcuba.entity.Parent</class>
        <class>ch.so.agi.sqlcuba.entity.Child</class>
        <class>ch.so.agi.sqlcuba.entity.ParentV</class>
        <class>ch.so.agi.sqlcuba.entity.ParentB</class>
    </persistence-unit>
</persistence>
